[submodule "profile"]
	path = profile
	url = git@github.com:mtalexan/bash-profile.git
	branch = master
[submodule "scripts"]
	path = scripts
	url = git@github.com:mtalexan/bash-scripts.git
	branch = master
[submodule "config"]
	path = config
	url = git@github.com:mtalexan/config.git
	branch = master
